:root {
	--color-primary:#1564bf;
	--color-primary-light:#5e91f2;
	--color-primary-dark:#003b8e;
	--color-primary-text:#fff;
	--color-primary-light-text:#fff;
	--color-primary-dark-text:#fff;
	--color-background:#F5F5F6;
}

#menu {
	display: flex;
	background-color: var(--color-primary-dark);
	color: var(--color-primary-dark-text);
}
#menu > .element {
	background-color: var(--color-primary-dark);
	color: var(--color-primary-dark-text);
	cursor: pointer;
	text-transform: uppercase;
	margin:0;
	flex-grow: 1;
}
#menu > .element:hover {
	background-color: var(--color-primary);
	color: var(--color-primary-text);
}
.element {
	padding: 10px;
	display: flex;
	height: auto;
	width: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}
#info {
	display: flex;
	background-color: var(--color-primary);
	color: var(--color-primary-text);
	justify-content: space-evenly;
}
.primaryMedia {
	max-width: 100%;
	max-height: 100%;
	/*width: 100%;
	height: 100%;*/
	object-fit: contain;
	flex-grow: 1;
	flex-shrink: 1;
}
#primaryMedia-container {
	justify-content: center;
	max-width: 100%;
	max-height: 100%;
	height: 0;
	width: 100%;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
}
#player-container audio.secondaryMedia {
	display: flex;
	flex-grow:1;
	flex-shrink: 1;
}
form#settings {
	flex-flow: row wrap;
}
#settings > .checkbox-wrapper {
	display: flex;
	padding: 5px 10px;
}
#slide-number-display {
	flex-basis: 0;
}
body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	background-color: var(--color-background);
	height: 100%;
}
html {
	height: 100%;
}
body > div {
	font-family: Verdana, Arial, sans-serif;
}

@keyframes hide {
	from {display: "flex";}
	to {display: "none";}
}